/*=== Style ===*/

/*=== Import Raleway fonts ===*/
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);

/*=== Import icon fonts (http://weloveiconfonts.com) ===*/
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* entypo */
[class*="fontawesome-"]:before{
  font-family: 'fontawesome', sans-serif;
}
/*=== Reset & General style ===*/
*{
  -webkit-font-smoothing:antialiased;
  -webkit-box-sizing:border-box;
  -ms-box-sizing:border-box;
  box-sizing:border-box;
  font-family:"Raleway",Helvetica;
}
body,html{
  width:100%;
  height:100%;
  padding:0;
  margin:0;
}

/*=== Let's style the elements ===*/
#select{
  width:600px;
  height:475px;
  background:#e47168;
  position:relative;
  opacity:.8;
  margin:40px auto;
  /*border-radius*/
  border-radius:8px;
  border-bottom:4px solid #cac6c4;
  border-bottom-left-radius:15px;
  border-bottom-right-radius:15px;
  /*box-shadow*/
  -webkit-box-shadow:0 5px 25px rgba(0,0,0,.15);
          box-shadow:0 5px 25px rgba(0,0,0,.15);
}

/*=== The following lines are used for create the same shadow as the dribbble shot (view the shadow : http://puu.sh/2YE1q.png)  ===*/
#select:before{
  content:'';
  display:block;
  height:100%;
  width:20px;
  position:absolute;
  margin:20px -20px;
}
#select:after{
  content:'';
  display:block;
  height:100%;
  width:20px;
  position:absolute;
  margin:-455px 600px;
}
/*=== The header ===*/
#head{
width:100%;
height:25%;
color:#fff;
text-shadow:0 1px 1px rgba(0,0,0,.4);
padding:15px 10px;
background:#4a2c81;
border-top-left-radius:8px;
border-top-right-radius:8px;
}
#head a,#head h1{
float:left;
width:48%;
color:#F7F7F7;
line-height:1.4;
}
#head h1{
padding-left:34px;
}
#head a{
font-size:1.8em;
text-decoration:none;
line-height:3;
text-align:right;
}
/*=== The content (after the header) ===*/
#content{
background:#F7F7F1;
height:100%;
/*border-radius*/
border-radius:8px;
}
#content #list div{
height:25% !important;
width:100%;
/*box-shadow*/
-webkit-box-shadow:0 1px 0 rgba(0,0,0,.1);
        box-shadow:0 1px 0 rgba(0,0,0,.1);
padding:2.34%;
cursor:pointer;
}

/*=== Put border radius only on the bottom angles, to avoid the selection by class, I decide to use some pseudo-classes (:last-child) ===*/
#content #list div:last-child{
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
}

/*=== The images ===*/
#list div i{
display:block;
width:90px;
height:90px;
/*border-radius*/
border-radius:50%;
margin-left:34px;
/*box-shadow*/
-webkit-box-shadow:0 4px 10px rgba(0,0,0,.15);
        box-shadow:0 4px 10px rgba(0,0,0,.15);
}

/*=== Put a kind of shadow over the image ===*/
#list div i:after{
content:'';
position:absolute;
z-index:3;
display:block;
width:90px;
height:90px;
/*border-radius*/
border-radius:50%;
margin-left:0px;
/*box-shadow*/
-webkit-box-shadow:0 4px 10px rgba(0,0,0,.2);
        box-shadow:0 4px 10px rgba(0,0,0,.2);
/*linear-gradient*/
background:-webkit-gradient(linear,50% 100%,50% 0,color-stop(transparent,0.5),color-stop(rgba(0,0,0,.5),0.5));
background:-webkit-linear-gradient(90deg,transparent 50%, rgba(0,0,0,.5) 50%);
background:     -o-linear-gradient(90deg,transparent 50%, rgba(0,0,0,.5) 50%);
background:        -webkit-gradient(linear,left top, right top,color-stop(50%, transparent), color-stop(50%, rgba(0,0,0,.5)));
background:        -webkit-linear-gradient(left,transparent 50%, rgba(0,0,0,.5) 50%);
background:        -o-linear-gradient(left,transparent 50%, rgba(0,0,0,.5) 50%);
background:        linear-gradient(90deg,transparent 50%, rgba(0,0,0,.5) 50%);
}
#list div i{
background:url('../img/character.png')no-repeat center;
/*background-size*/
background-size:cover;
}
#list div span[class*="chevron-right"]{
float:right;
display:block;
margin:-55px 40px;
font-size:1.6em;
color:#616b74;
}
#list div:hover{
background:#616b74;
}
#list div:hover span[class*="chevron-right"],
#list div:hover h3 a{
color:#F7F7F1;
}
#list h3{
display:block;
height:100%;
width:180px;
float:left;
margin:-55px 160px;
color:#616b74;
font-size:1.4em;
}
#list h3 a{
color:#616b74;
text-decoration:none;
font-family:Raleway;
font-weight:300;
}

/* class */
.arrow{
display:block;
}
.arrow:after{
content:'▶';
display:block;
font-size:.50em;
color:#F7F7F1;
margin:-66px 8px;
}