/******************************************************************************/
/*   Player list content                                                      */
/******************************************************************************/
playercontainer {
    border-radius: 5px;
    display: block;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow-y: hidden;
    max-height: 5000px;
}

playercount {
    position: absolute;
    top: 11px;
    left: 25px;
    font-family: "Roboto";
    text-transform: uppercase;
    font-size: 9px;
    font-weight: 100;
    color: #BBBBBB;
}

playercount b {
    display: inline-block;
    text-align: center;
    width: 40px;
    color: #fff;
    margin-right: 2px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 4px 3px 3px 3px;
    border-radius: 100px;
}

playercontainer .btn-close-widget {
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

search {
    margin: auto;
    padding: 3px 0px 3px 0px;
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0 1px 4px 0 #000;
    display: block;
    width: 40%;
}

search input {
    text-align: center;
    width: 100%;
    background-color: transparent;
    border: 0px;
    color: #fff;
}

search input:focus {
    border: 0px;
}

search i.fa-search input:focus {
    color: #fff;
    border: 0px;
}

search i {
    color: #555555;
}

search input::placeholder {
    font-family: "Roboto";
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 100;
    color: #666666;
}

.playersheading {
    margin-top: 10px;
    width: 100%;
}

playertable {
    display: block;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    max-height: 470px;
    overflow-y: auto;
}

playertable .playerslist {
}

playertable table {
    width: 100%;
    margin-top: -2px;
    background-color: rgba(0, 0, 0, 0.7);
}

.playersheading thead.heading {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    height: 40px;
}

.playersheading thead.heading th {
    background: linear-gradient(to bottom, #333333, #111111);
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 400;
    text-align: center;
    padding: 1px 0px 3px 0px;
}

playertable table td {
    vertical-align: middle;
    margin-top: 0px;
    font-size: 10px;
    text-align: center;
    color: #DDDDDD;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

playertable table tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}

playertable table td:first-child {
    color: #fff;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.3);
}

notfound {
    display: block;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-top: 10px;
    padding: 6px;
    background-color: rgba(0, 0, 0, 0.3);
}

/******************************************************************************/
/*   Scrollbar                                                                */
/******************************************************************************/
::-webkit-scrollbar-thumb {
    background-color: #444;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #111;
}


/******************************************************************************/
/*   Status                                                                   */
/******************************************************************************/
playertable tr:not(.connecting) td.status span  {
    color: #fff;
    display: inline-block;
    text-align: center;
    font-family: "Roboto";
    text-transform: uppercase;
    font-size: 10px;
}

playertable tr.online td.status span { color: #4CAE50; }
playertable tr.afk td.status span { color: #FE5722; }

/******************************************************************************/
/*   Buttons                                                                  */
/******************************************************************************/
playertable td.actions .btn-group {
    margin-top: 2px;
    margin-bottom: 2px;
    vertical-align: top;
}

playertable td.actions button {
    height: 20px;
    font-family: "Roboto";
    text-transform: uppercase;
    font-size: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid #222;
    color: #fff;
}

playertable td.actions button:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.6);
}

playertable td.actions button i {
    font-size: 10px;
    padding-top: 2px;
}

playertable td.actions .btn-group button:first-child {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-right: 0px;
}

playertable td.actions .btn-group button:last-child {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-left: 0px;
}

playertable td.actions {
    vertical-align: top;
}

playertable td.actions .btn-admin {
    display: inline-flex;
    margin-left: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    vertical-align: top;
}

playertable td.actions .btn-admin button{
    border-radius: 5px;
}

playertable tr.connecting td.actions button {
    opacity: 0.2;
    background-color: rgba(0, 0, 0, 0.2) !important;
    border: 1px solid #333 !important;
    color: #777 !important;
}

playertable tr.connecting td.actions button:hover {
    cursor: default;
}
